<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="Module1App">
   <div class="container" ng-controller="Module1Controller">
     <h1>Lunch Checker</h1> <h5>Does not consider empty items</h5>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="inValue">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="check()">Check If Too Much</button>
         </div>
         <div class="form-group message" style="color : {{messageColor}}; border-width:3px; border-style:solid; border-color:{{borderColor}};">
           {{message}}
         </div>
   </div>

</body>
</html>